window {{
    margin: 0px;
    border: 2px solid rgba(ffffffff);
    border-radius: 5px;
    background-color: {background};
    font-family: JetBrainsMono Nerd Font, Symbols Nerd Font Mono;
    font-size: 16px;
}}

#input {{
    margin: 5px;
    border: 1px solid {background};
    color: {color1};
    background-color: {background};
}}

#input image {{
    color: {color1};
}}

#inner-box {{
    margin: 5px;
    border: none;
    background-color: {background};
}}

#outer-box {{
    margin: 5px;
    border: none;
    background-color: {background};
}}

#scroll {{
    margin: 0px;
    border: none;
}}

#text {{
    margin: 5px;
    border: none;
    color: {color1};
}} 

#entry:selected {{
    background-color: {color11};
    font-weight: normal;
}}

#text:selected {{
    background-color: {color11};
    font-weight: normal;
}}

